<div class="logo me-auto">
    <h1><a href="{% url 'home' %}">Cook</a></h1>
</div>

<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        <li><a class="nav-link scrollto" href="{% url 'feed' %}">Feedpage</a></li>
        {% if user.is_authenticated %}
            <li class="dropdown"><a href="{% url 'my-receipts' %}"><span>Recipes</span><i
                    class="bi bi-chevron-down"></i></a>
                <ul>
                    <li class=""><a href="{% url 'my-receipts' %}">My recipes</a></li>
                    <li class=""><a href="{% url 'new-recipe' %}"><span>New recipe</span></a>
                </ul>
            </li>
            <li class="dropdown"><a href="{% url 'home' %}"><span>{{ user.username }}</span><i
                    class="bi bi-chevron-down"></i></a>

                <ul>
                    <li><a href="{% url 'home' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}"><span>Logout</span></a>
                </ul>
            </li>
        {% else %}
            <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>