{% extends 'base_frames/base.html' %}
{% block title %}
    <title>Feedpage</title>
{% endblock title %}
{% block content %}
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>Why choose <span>Our Restaurant</span></h2>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                    atque
                    vitae autem.</p>
            </div>

            <div class="row">
                {% for recipe in recipes %}

                    <div class="col-lg-4 mb-5">
                        <a href="https://cooook.herokuapp.com/recipe/{{ recipe.slug }}/">
                            <div class="box">
                                <span>{{ recipe.title }}</span>
                                <h4>Жасалу тәсілі</h4>
                                <p>{{ recipe.cooking|safe|slice:70 }}...</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#    <script>#}
    {#        function morePosts() {#}
    {#            let viewed_posts = $(".card").length;#}
    {#            let data = {#}
    {#                viewed_posts: viewed_posts#}
    {#            };#}
    {##}
    {#            $.ajax({#}
    {#                method: "GET",#}
    {#                data: data,#}
    {#                url: {% url 'ajax-loading-posts' %},#}
    {#                type: 'json',#}
    {#                success: function (data) {#}
    {#                    let result = data['data'];#}
    {#                    if (result == null) {#}
    {#                        confirm("Smth went wrong with request, are you sure that you authenticated?");#}
    {#                    }#}
    {#                    $.each(result, function (key, obj) {#}
    {#                        render(obj);#}
    {#                    });#}
    {#                },#}
    {#            })#}
    {#        }#}
    {#    </script>#}
    {#    <script>#}
    {#        window.onload = function () {#}
    {#            morePosts();#}
    {#            newpostButton()#}
    {#        };#}
    {#    </script>#}
    {#    <script>#}
    {#        function newpostButton() {#}
    {#            $('.navbar-nav').prepend(#}
    {#                `<li class="nav-item my-auto">#}
    {#                        <a class="btn-outline-light btn btn-sm" href="{% url 'add-post' %}">New Post</a>#}
    {#                    </li>`#}
    {#            )#}
    {#        }#}
    {#    </script>#}
    {#    <script>#}
    {#        function render(obj) {#}
    {#            $('.posts').append(#}
    {#                ``#}
    {#            );#}
    {#        }#}
    {#    </script>#}
{% endblock scripts %}