{% extends 'base_frames/base.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block header %}
    {% include 'base_frames/header.html' %}
{% endblock header %}
{% block content %}
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active" style="background: url({% static 'images/slide/slide-1.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Anelya</span> Cook </h2>
                                <p class="animate__animated animate__fadeInUp">Нанға май жасап үйретем
                                </p>
                                <div>
                                    <a href="#" class="btn-menu animate__animated animate__fadeInUp scrollto">Қосыл</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background: url({% static 'images/slide/slide-2.jpg' %});">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Divine</span> Baursaq</h2>
                                <p class="animate__animated animate__fadeInUp">Baursaki Баурсақтар Баурсаки & some text</p>
                                <div>
                                    <a href="#" class="btn-menu animate__animated animate__fadeInUp scrollto">Қосыл</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="background: url({% static 'images/slide/slide-3.jpg' %});">
                        <div class="carousel-background"><img src="{% static 'images/slide/slide-3.jpg' %}" alt="">
                        </div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Some</span> title</h2>
                                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui
                                    aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem
                                    mollitia ut. Similique ea voluptatem.</p>
                                <div>
                                    <a href="#" class="btn-menu animate__animated animate__fadeInUp scrollto">Қосыл</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section>
{% endblock content %}