{% extends 'base_frames/base.html' %}
{% load static %}
{% block content %}

    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>Why choose <span>Our Restaurant</span></h2>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                    atque
                    vitae autem.</p>
            </div>

            <form action="" method="post" class="form-group">
            </form>
        </div>
    </section>

    <section class="book-a-table">
        <div class="container">
            <div class="recipe-form col-4-lg">
                <form action="" method="post" role="form" class="">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-center">
                            {% csrf_token %}
                            {{ form.media }}
                            <br>
                            <h1 class="text-center"><span>Recipe</span></h1>
                            <br>
                            {{ form.title }}
                            <hr>
                            <br>
                            <div class="label-container text-start">
                            <h2><span><label for="ingridients" class="mb-3">Ingridients</label></span></h2>
                            </div>
                            {{ form.ingridients }}
                            <br>
                            <div class="label-container text-start">
                            <h2><span><label for="cooking" class="mb-3 mt-3">Cooking</label></span></h2>
                            </div>
                            {{ form.cooking }}
                            <br>
                            <br>
                            <div class="input-group">
                                {{ form.image }}
                            </div>
                            <br>
                            <input type="submit" value="Post recipe">
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}